* {
  font-family: 'Trebuchet MS';
}

body {
  padding: 10px;
  width: 500px;
  text-align: center;
}

h1 {
  margin: 0 0 10px 0;
}

button {
  border-color: rgb(0, 139, 225);
  border-radius: 24px;
  color: rgb(0, 139, 225);
  cursor: pointer;
  letter-spacing: 0.5px;
  padding: 8px 12px;
  text-transform: uppercase;
  transition: background 200ms ease-out, color 200ms ease-out;
}

button:hover,
button:focus {
  background: rgb(0, 139, 225);
  color: white;
  outline: none;
}

#searchInput {
  border: 1px solid black;
  font-family: monospace;
  padding: 6px;
  transition: border-color 200ms ease-out;
  width: 350px;
}

#searchInput:focus {
  border-color: rgb(0, 139, 225);
  outline: none;
}

#infoBtn {
  border: none;
  padding: 5px 5px 4px 5px;
  vertical-align: middle;
}

#infoIcon {
  width: 16px;
}

#infoPanel {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-top: 12px;
}

#closeInfoBtn {
  float: right;
  padding: 5px;
}

#btnPanel {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px 0 108px;
}

#resultsCount {
  display: inline-block;
}
